@model BlogSitesi.Models.Login
@{
    ViewBag.Title = "Login";
}

<div class="container">
    <br />
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home/Index">Anasayfa</a></li>
                <li class="breadcrumb-item active" aria-current="page">Giriş Formu</li>
            </ol>
        </nav>
        <div class="col-md-8">
            <!--MAKALE LİSTESİ-->
            <div class="img-thumbnail">
                <br />
                @using (Html.BeginForm("Login", "Account", new { @class = "row", ReturnUrl = Request.QueryString["ReturnUrl"], FormMethod.Post }))
                {
                    <div class="row mb-3" style="text-align:center;">
                        <label class="col-sm-2 col-form-label">Kullanıcı Adınız:</label>
                        <div class="col-sm-4">
                            @Html.EditorFor(m => m.UserName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row mb-3" style="text-align:center;">
                        <label class="col-sm-2 col-form-label">Şifreniz:</label>
                        <div class="col-sm-4">
                            @Html.PasswordFor(m => m.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row mb-3" style="text-align:center;">
                        <label class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-outline-success col-6"><i class="bi bi-door-open-fill"></i>Giriş Yap</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-4">
            <!--KONU LİSTESİ-->
            @Html.Action("KategoriListesi", "Kategori")
            <br />
            @Html.Action("EnCokOkunan", "Home")
        </div>
    </div>
</div>

