@model BlogSitesi.Models.Register
@{
    ViewBag.Title = "Register";
}

<div class="container">
    <br />
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/Home/Index">Anasayfa</a></li>
                <li class="breadcrumb-item active" aria-current="page">Kayıt Ol</li>
            </ol>
        </nav>
        <div class="col-md-8">
            <!--MAKALE LİSTESİ-->
            <div class="img-thumbnail">
                <br />
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "row" }))
                {
                    <div class="row mb-3" style="text-align:center;">
                        <label class="col-sm-2 col-form-label">Adınız:</label>
                        <div class="col-sm-4">
                            @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row mb-3" style="text-align:center;">
                        <label class="col-sm-2 col-form-label">Soyadınız:</label>
                        <div class="col-sm-4">
                            @Html.EditorFor(m => m.SurName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.SurName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row mb-3" style="text-align:center;">
                        <label class="col-sm-2 col-form-label">Kullanıcı Adınız:</label>
                        <div class="col-sm-4">
                            @Html.EditorFor(m => m.UserName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row mb-3" style="text-align:center;">
                        <label class="col-sm-2 col-form-label">E-Mail:</label>
                        <div class="col-sm-4">
                            @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row mb-3" style="text-align:center;">
                        <label class="col-sm-2 col-form-label">Şifreniz:</label>
                        <div class="col-sm-4">
                            @Html.PasswordFor(m => m.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row mb-3" style="text-align:center;">
                        <label class="col-sm-2 col-form-label">Şifre Tekrar:</label>
                        <div class="col-sm-4">
                            @Html.PasswordFor(m => m.RePassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(m => m.RePassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="row mb-3" style="text-align:center;">
                        <label class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-4">
                            <button type="submit" class="btn btn-outline-success col-6"><i class="bi bi-person-circle"></i>Kayıt Ol</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-4">
            <!--KONU LİSTESİ-->
            @Html.Action("KategoriListesi", "Kategori")
            <br />
            @Html.Action("EnCokOkunan", "Home")
        </div>
    </div>
</div>

