@model IEnumerable<BlogSitesi.Models.Makale>
@{
    ViewBag.Title = "MakeleListesi";
}

<div class="container">
    <br />
    <div class="row">
        <div class="col-md-8">
            <!--MAKALE LİSTESİ-->
            @if (Model.Count() == 0)
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Merhaba!</strong> Henüz bu konu hakkında yayınlanmış bir makale bulunmamaktadır. Haydi ilk makaleyi sen yaz!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @foreach (var item in Model)
            {
                <div class="card-group">
                    <div class="card" style="background-color:#feffe1;">
                        <img src="/Content/img/@item.Resim" class="card-img-top" alt="..." width="300">
                        <div class="card-body">
                            <h5 class="card-title">@item.Baslik</h5>
                            @if (item.Aciklama.Length > 60)
                            {
                                <p class="card-text">@item.Aciklama.Substring(0, 60):[...]</p>
                            }
                            else
                            {
                                <p class="card-text">@item.Aciklama</p>
                            }

                            <a href="/Home/Detay/@item.ID" class="btn btn-success">Devamını oku...</a>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted"><i class="bi bi-person-fill"></i> @item.KullaniciAdi -- <i class="bi bi-clock-fill" style="font-size:15px;"> @item.YayinTarihi.ToString("dd-MM-yyyy") -- <i class="bi bi-eye-fill"></i> @item.GoruntulenmeSayisi Görüntülenme - <i class="bi bi-chat-dots-fill"> @item.Yorum.Count Yorum</i></i></small>
                        </div>
                    </div>
                </div>
                <br />
            }
        </div>
        <div class="col-md-4">
            <!--KONU LİSTESİ-->
           
            @Html.Action("KategoriListesi", "Kategori")
            <br />
            @Html.Action("EnCokOkunan", "Home")
        </div>
    </div>
</div>
